{
  "extends": ["eslint:recommended", "plugin:import/recommended"],
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
  },
  "plugins": ["jest", "import"],
  "rules": {
    "import/extensions": "off"
  }
}
